{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "browser": false,
    "mocha": true,
    "jest": true
  },
  "plugins": [
    "mocha"
  ],
  "rules": {
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "import/no-dynamic-require": 0,
    "global-require": 0,
    "no-underscore-dangle": 0,
    "mocha/no-exclusive-tests": "error",
    "max-len": ["error", { "code": 180 }],
    "linebreak-style": [0, "error", "windows"]
  },
  "parserOptions": {
    "ecmaVersion": 8
  }
}